.navbar {
  background-color: #222222 !important;
  color: white;
  padding: 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numero-items {
  position: absolute;
  top: 2em;
  right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color:white;
  border: 2px solid 222222;
  background-color: #FFD700;
  color: #222222;
  font-size: 12px;
  font-weight: bold;
}

.navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white !important;
}

.nav-link:hover,
.nav-link.active {
  color: #ffd700;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle.active {
  color: #ffd700;
}

@media (max-width: 1150px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    margin-top: 20px;
  }

  .navbar-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active {
    color: #ffd700;
  }

  .navbar-menu.active {
    display: flex;
  }
}

/* MODAL */
.modal-open h5{
  color: #FFD700 !important;
  background: rgb(111,109,105);
  background: linear-gradient(64deg, rgba(111,109,105,1) 14%, rgba(62,60,55,1) 42%, rgba(0,0,0,1) 97%);
  width: 100%;
}

.modal-open h6,p{
  color: #222222 !important;
  width: 100%;
}

.modal-open button{
  border: 1px solid black;
}

.modal-body p{
  font-weight: bold !important;
}

.modal-open .borrarProduct{
  color: red !important;
}