.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Color Variables */
.color-codepen {
  background: #222222;
  color: #FBC237;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .headerContainer {
    display: none;
  }
}

/* Social Icons */
.social-icons {
  display: flex;
  padding-right: 2em;
  animation:scale-up-horizontal-center 0.7s} @keyframes scale-up-horizontal-center{0%{transform:scaleX(.2)}100%{transform:scaleX(1)}
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}

.social-icon:hover {
  color: #fff;
}

.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}

.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--linkedin {
  background: #222222;
  color: #FBC237;
}

.social-icon--twitter {
  background: #222222;
  color: #FBC237;
}

.social-icon--codepen {
  background: #222222;
  color: #FBC237;
}

.social-icon--facebook {
  background: #222222;
  color: #FBC237;
}

.social-icon--instagram {
  background: #222222;
  color: #FBC237;
}

.social-icon--youtube {
  background: #222222;
  color: #FBC237;
}

.social-icon--github {
  background: #222222;
  color: #FBC237;
}

.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}

.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}
